*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.debug{
    background-color: rgba(255, 0, 0, .5);
    border: 1px solid black;
}

/* GENERALI */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

/* HEADER */

header{
    display: flex;
    height: 70px;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #FF6900;
}

header .container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
}
header ul li{
    margin-right: 10px;
}
header ul li a{
    text-decoration: none;
    color: white;

    font-weight: 600;
}

header .logo img{
    width: 135px;
}

.menu i{
    margin-left: 5px;
}
/* MAIN */

.product{

/* COLOR DI DEBUG */
    background-color: grey;
}

/* FOOTER */

footer{
    display: flex;

    width: 100%;
    height: 70px;

    color: white;
    background-color: #1A1A1A;
}